#candle{
    margin-top: 30rem;
    width: 15rem;
    height: 40rem;
    position: relative;
    display: grid;
}
#flame,#thread,#blue-part,#glow,#candle-bottom{
    position: absolute;
    justify-self: center;
}
#thread::after,
#blue-part::after,
#wax::before{
    content: '';
    display: block;
}